<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SimpleAppTestSuite">
	<test name="Initial Selenium TestNG Test">
	    <classes>
	        <class name="AppTest"/>
	    </classes>
	</test>
	<test name="Create a Todo task - no category and no due date">
	    <classes>
	        <class name="CreateTodo"/>
	    </classes>
	</test>
</suite>
